/sample_code
/data
/data5y
/data10y
/graph
/graph5y
/graph5y_predict
/graph10y
/graph10y_predict
/test_savefile
/data10y_close_csv
/data10y_close_pickle
/data10y_close_pickle_2
/data10y_predict_pickle